<footer class="footer mt-auto bg-body-tertiary border-top">
  <div class="container py-5">
    <div class="row gy-4">
      <!-- Logo and Description Column -->
      <div class="col-12 col-md-5">
        <p class="text-body-secondary">
          Full Stack Discovery is an open-source web development resource created by Discovery Partners Institute, University of Illinois System. Our aim is to support basic web literacy through clear, understandable lessons, real-world examples, and support.
        </p>
      </div>
      
      <!-- Links Column -->
      <div class="col-12 col-md-6 offset-md-1">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="https://github.com/dpi-tta/learn" target="_blank" class="nav-link p-0 text-body-secondary">
              <i class="bi bi-github me-1"></i> View on GitHub
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://dpi.uillinois.edu/" target="_blank" class="nav-link p-0 text-body-secondary">
              <i class="bi bi-building me-1"></i> Discovery Partners Institute
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://dpi.dev/" target="_blank" class="nav-link p-0 text-body-secondary">
              <i class="bi bi-code-slash me-1"></i> Tech Talent Accelerator
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
      <p class="text-body-secondary">© 2025 Discovery Partners Institute, University of Illinois System</p>
    </div>
  </div>
</footer>
