<% if lesson.github_repository_url %>
  <div class="github-link mb-3">
    <%= link_to lesson.github_repository_url, target: "_blank", class: "btn btn-outline-secondary btn-sm" do %>
      <i class="bi bi-github me-1"></i> View on GitHub
    <% end %>
  </div>
<% end %>