<% content_for :title, "Courses" %>
<%= render "shared/breadcrumbs" %>
<div class="container my-3">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-end">
        <h1 class="h6 mb-0 me-auto">Courses</h1>
        <div>
          <%= link_to new_course_path, class: 'btn btn-outline-primary me-2' do %>
            <i class="bi bi-plus fs-6"></i>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "list_group", courses: @courses %>
  </div>
</div>